*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Georgia;
}

/* desktop menu */

.navbar {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #444;
    color: #fff;
    padding: 0 20px;
    position: sticky;
    top: 0;
}

.logo {
    font-size: 1em;
    line-height: 60px;
}

.navbar-links {
    height: 100%;
}

.navbar-links ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navbar-links li {
    padding: 0 20px;
}

.navbar-links a {
    text-decoration: none;
    color: #fff;
    font-size: 1em;
    line-height: 60px;
    display: block; 
}

.navbar-links a:hover {
    background-color: #333;
}

.hamburger-button {
    position: absolute;
    top: 15px;
    right: 30px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 20px;
}

.hamburger-button .hamburger {
    height: 3px;
    width: 100%;
    background-color: #fff;
    border-radius: 10px;
}

.home-section {
    /* position: absolute; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: #943e3e;
    color: white;
    font-size: 2em;
   
}

.about-section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: #53943e;
    color: white;
    font-size: 2em;
}
.service-section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: #3e9294;
    color: white;
    font-size: 2em;
}

.portfolio-section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: #f6b70c;
    color: white;
    font-size: 2em;
}

.blog-section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: #0cf647;
    color: white;
    font-size: 2em;
}

.careers-section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: #0b0a5a;
    color: white;
    font-size: 2em;
}

.contact-section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: #570a47;
    color: white;
    font-size: 2em;
}


/* mobile menu */
@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
        overflow: hidden;
    }

    .hamburger-button {
        display: flex;
    }

    .navbar-links {
        height: 0;
        width: 100%;
        opacity: 0;
    }

    .navbar-links ul {
        flex-direction: column;
        width: 100%;
    }

    .navbar-links li {
        text-align: center;
    }

    .navbar-links a {
        padding: 10px;
        line-height: 20px;   
    }

    .navbar.active .navbar-links {
        height: 300px;
        opacity: 1;
    }

    .navbar.active .hamburger-button .hamburger:nth-child(2) {
        opacity: 0;
    }

    .navbar.active .hamburger-button .hamburger:nth-child(1) {
        transform: translateY(8px) rotate(48deg);
    }

    .navbar.active .hamburger-button .hamburger:nth-child(3) {
        transform: translateY(-8px) rotate(-48deg);
    }
}
