* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}  

body {
    font-family: Verdana;
}

h1 {
    text-align: center;
    margin-top: 30px;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f4f4f4;
    width: 600px;
    height: 350px;
    margin: 30px auto;
    padding: 10px;
}

#input-title,#input-image {
    width: 100%;
    padding: 10px;
    margin: 10px;
    font-size: 1rem;
}

textarea {
    width: 100%;
    height: 100px;
    padding: 10px;
    margin: 10px;
    font-size: 1rem;
} 

button {
    width: 100%;
    padding: 10px;
    margin: 10px;
    font-size: 1rem;
    cursor: pointer;
    background-color: antiquewhite;
    border: none;
}

button:hover {
    background-color: beige;
    color: #000;
    
} 

#postcontainer {
    display: flex;
    justify-content: center;
    background-color: #f4f4f4;
    width: 600px;
    margin: 20px auto;
    padding: 10px;
}

.posts {
  border-bottom: 1px solid #ddd;
  padding: 15px 0;
}

.posts img {
  width: 100%;
  margin: 10px 0;
  justify-content: center;
  align-items: center;
}

.actions button {
  margin-right: 10px;
} 


/* ---------------------------------------------- */

  /* body {
  font-family: Arial, sans-serif;
  background: #f5f5f5;
}

.main-title {
  text-align: center;
  margin: 20px 0;
}

.container {
  width: 60%;
  margin: 20px auto;
  background: #fff;
  padding: 20px;
  border-radius: 5px;
}

input, textarea {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
}

textarea {
  height: 120px;
}

button {
  padding: 10px 20px;
  cursor: pointer;
}

.post {
  border-bottom: 1px solid #ddd;
  padding: 15px 0;
}

.post img {
  max-width: 100%;
  margin: 10px 0;
}

.actions button {
  margin-right: 10px;
} */